BITMAP1 BITMAP "bitmaps\blue.bmp"
BITMAP2 BITMAP "bitmaps\brown.bmp"
BITMAP3 BITMAP "bitmaps\green.bmp"
BITMAP4 BITMAP "bitmaps\red.bmp"
BITMAP5 BITMAP "bitmaps\violet.bmp"
BITMAP6 BITMAP "bitmaps\yellow.bmp"
BITMAP7 BITMAP "bitmaps\black.bmp"
POP WAVE "waves\pop.wav"
DING WAVE "waves\ding.wav"